.form-body {
  background-color: #064e89;
}

.website-logo {
  display: none;
  top: 50px;
  left: 50px;
  right: initial;
  bottom: initial;
}

.website-logo img {
  width: 100px;
}

.website-logo .logo {
  background-image: url("../images/logo-light.svg");
}

.website-logo .logo img {
  width: 100px;
}

.website-logo-inside img {
  width: 100px;
}

.website-logo-inside .logo {
  background-image: url("../images/logo-light.svg");
}

.website-logo-inside .logo img {
  width: 100px;
}

.img-holder {
  width: 550px;
  background-color: #fff;
}

.img-holder .info-holder h3 {
  color: #064e89;
  text-align: left;
}

.img-holder .info-holder h3 span {
  color: #064e89;
}

.img-holder .info-holder h2 {
  color: #064e89;
  text-align: left;
}

.img-holder .info-holder h2 span {
  color: #064e89;
}

.img-holder .info-holder p {
  color: #064e89;
  text-align: left;
}

.img-holder .bg {
  opacity: 0.23;
  background-image: none;
}

.form-holder {
  margin-left: 550px;
}

.form-holder .form-content ::-webkit-input-placeholder {
  color: #526489;
}

.form-holder .form-content :-moz-placeholder {
  color: #526489;
}

.form-holder .form-content ::-moz-placeholder {
  color: #526489;
}

.form-holder .form-content :-ms-input-placeholder {
  color: #526489;
}

.form-content {
  background-color: rgb(17, 171, 223);
}

.form-content .form-group {
  color: #fff;
}

.form-content .form-items {
  max-width: 340px;
  text-align: left;
}

.form-content h3 {
  color: #fff;
  text-align: left;
}

.form-content p {
  color: #fff;
  text-align: left;
}

.form-content label {
  color: #fff;
  text-align: left;
}

.form-content .page-links a {
  color: #fff;
}

.form-content .page-links a:after {
  background-color: rgba(255, 255, 255, 0.5);
}

.form-content .page-links a.active:after {
  background-color: #fff;
}

.form-content .page-links a:hover:after,
.form-content .page-links a:focus:after {
  background-color: #fff;
}

.form-content input,
.form-content .dropdown-toggle.btn-default {
  border: 0;
  background-color: #fff;
  color: #8d8d8d;
}

.form-content input:hover,
.form-content input:focus,
.form-content .dropdown-toggle.btn-default:hover,
.form-content .dropdown-toggle.btn-default:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}

.form-content textarea {
  border: 0;
  background-color: #fff;
  color: #8d8d8d;
}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}

.form-content .custom-file-label {
  border: 0;
  background-color: #fff;
  color: #8d8d8d;
}

.form-content .form-button .ibtn:hover,
.form-content .form-button .ibtn:focus {
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.form-content .form-button a {
  color: #fff;
}

.form-content .other-links span {
  color: #fff;
}

.form-content .other-links a {
  color: #fff;
}

.form-content .form-sent .tick-holder .tick-icon {
  background-color: rgba(255, 255, 255, 0);
}

.form-content .form-sent .tick-holder .tick-icon:before {
  background-color: #fff;
}

.form-content .form-sent .tick-holder .tick-icon:after {
  background-color: #fff;
}

.form-content .form-sent h3 {
  color: #fff;
}

.form-content .form-sent p {
  color: #fff;
}

.form-content .form-sent .info-holder {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.form-content .form-sent .info-holder span {
  color: #fff;
}

.form-content .form-sent .info-holder a {
  color: #fff;
}

@keyframes tick-anime3 {
  0% {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform: rotate(35deg) scale(2);
    -moz-transform: rotate(35deg) scale(2);
    -ms-transform: rotate(35deg) scale(2);
    transform: rotate(35deg) scale(2);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}

.alert {
  color: #fff;
}

.alert.alert-primary {
  background-color: rgba(226, 240, 255, 0);
  border-color: #3a86d6;
}

.alert.alert-primary hr {
  border-top-color: #3a86d6;
}

.alert.alert-secondary {
  background-color: rgba(240, 240, 240, 0);
  border-color: #8e9396;
}

.alert.alert-secondary hr {
  border-top-color: #8e9396;
}

.alert.alert-success {
  background-color: rgba(247, 255, 240, 0);
  border-color: #8ccb57;
}

.alert.alert-success hr {
  border-top-color: #8ccb57;
}

.form-body.without-side .form-content .page-links a.active:after {
  background-color: #fff;
}

.form-body.without-side .form-content .page-links a:hover:after,
.form-body.without-side .form-content .page-links a:focus:after {
  background-color: #fff;
}

.form-body.without-side .form-content .form-button .ibtn {
  background-color: #fff;
  color: #064e89;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-body.without-side .form-content .form-button .ibtn:hover,
.form-body.without-side .form-content .form-button .ibtn:focus {
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

/* -----------------------------------
    2 - Responsive Styles
------------------------------------*/
@media (max-width: 992px) {
  .form-holder {
    margin-left: 0;
  }

  .website-logo {
    top: 50px;
    left: 50px;
    right: initial;
    bottom: initial;
  }

  .website-logo .logo {
    background-image: url("../images/logo-light.svg");
  }

  .form-body.without-side .website-logo .logo {
    background-image: url("../images/logo-light.svg");
  }
}
